main {
    max-width: 400px;
    margin: auto;
}

form {
    display: grid;
}

input {
    margin-bottom: 10px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 5px;
}

td a {
    text-decoration: none;
}