@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

:root {
    --main-font-fam: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    --logo-font-fam: 'Bree Serif', serif;
    --main-font-clr: #ffffff;
    --secondary-font-clr: rgba(255, 255, 255, .65);
    --highlight-clr: #00B8FF;
    --attraction-clr: #00CF35;
    --crazy-clr: #7C5CFF;
    --main-font-size: 1rem;
    --small-font-size: .85rem;
    --medium-font-size: 1.125rem;
    --xl-font-size: 5rem;
    --bg-clr: #000000;
    --post-bg-clr: #222222;
    --aside-comp-clr: #111111;
    --overlay-clr: rgba(0, 0, 0, 0.4);
    --line-clr: rgba(255, 255, 255, .13);
    --input-unfocus: rgba(255, 255, 255, .25);
    --main-radius: .2rem;
    --img-radius: .4rem;
}

/* BASE AND RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--main-font-clr);
    font-family: var(--main-font-fam);
    font-size: var(--main-font-size);
    line-height: 1.2;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: var(--bg-clr);
    min-height: 100vh;
}

main {
    height: 100%;
}

li {
    list-style: none;
}

a,
button {
    text-decoration: none;
    color: var(--highlight-clr);
    background: transparent;
    border: 0;
    cursor: pointer;
    font-weight: 700;
}

h2 {
    font-weight: 700;
}

input {
    border: 0;
    outline: 0;
}

article {
    border-radius: var(--main-radius);
}

img {
    display: block;
    width: 100%;
    border-radius: var(--img-radius);
}

details>summary {
    list-style: none;
    cursor: pointer;
}

details>summary::-webkit-details-marker {
    display: none;
}

span {
    color: inherit;
}

form .wrapper {
    display: grid;
    grid-gap: .3rem;
}

form .wrapper label {
    color: var(--secondary-font-clr);
}

#spa {
    height: 100%;
}

/* HEADER */
#main-header:not(.sign-page #main-header) {
    border-bottom: 1px solid var(--line-clr);
    background-color: black;
}

#main-header {
    position: sticky;
    top: 0;
    z-index: 10;
}

#main-header nav {
    max-width: 1700px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 1.375rem;
    height: 51px;
}

#main-header ul {
    display: flex;
    align-items: center;
}

#logo {
    font-family: var(--logo-font-fam);
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.76rem;
    color: white;
    display: block;
    width: 3.5rem;
    transform: translateY(-3px);
}

#search-bar-container {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    width: 480px;
    background-color: var(--input-unfocus);
    border-radius: var(--main-radius);

}

#search-bar-container label {
    display: block;
    width: 1.1rem;
    height: 1.1rem;
    margin-left: .75rem;
}

#search-bar-container svg {
    fill: var(--secondary-font-clr);
}

#search-bar {
    padding: 0.475rem;
    background-color: transparent;
}

#main-header .icon {
    display: block;
    width: 2.875rem;
    height: 2rem;
    border-radius: var(--main-radius);
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-header .icon svg {
    fill: var(--secondary-font-clr);
}

#main-header .home svg {
    width: 1.25rem;
    height: 1.25rem;
}

#main-header .user svg {
    width: 1rem;
    height: 1.2rem;
}

#main-header .pen {
    background-color: var(--highlight-clr);
    margin-left: 1.25rem;
}

#main-header .pen svg {
    fill: black;
    width: 1.375rem;
    height: 1.375rem;
}

a.sign-up,
a.sign-in {
    font-weight: 700;
    font-size: 1rem;
    color: var(--bg-clr);
    border-radius: var(--main-radius);
    background-color: var(--highlight-clr);
    padding: .525rem .8rem;
    ;
}

a.sign-up {
    margin-left: .6rem;
}

a.sign-in {
    background-color: var(--attraction-clr);
}

.sign-page .sign-in,
.sign-page .sign-up {
    position: absolute;
    z-index: 20;
    top: .45rem;
    right: 1.375rem;
}

/* MAIN CONTENT */
#content {
    max-width: 975px;
    margin: auto;
    display: flex;
}

#content main {
    height: 100%;
    width: 640px;
    padding: 1.25rem .875rem 0 0;
}

#content main {
    margin-bottom: 5rem;
}

#content>div:not(#spa) {
    flex: 1;
    padding: 1.25rem 0 0 .875rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 52px;
    height: calc(100vh - 52px);
    border-left: 1px solid var(--line-clr);

}

/* POST */
.posts-container article:not(:nth-child(1)) {
    margin-top: 1.25rem;
}

.posts-container article {
    display: flex;
}

.posts-container article>a {
    height: 4rem;
    position: sticky;
    top: 65px;
}

.posts-container article>a img {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
    object-fit: cover;
}

.post {
    background-color: var(--post-bg-clr);
    border-radius: var(--main-radius);
    flex: 1;
}

.post .top-bar {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 1rem 1.25rem;
}

.post .top-bar>div {
    display: flex;
}

.post .top-bar>div * {
    font-size: var(--small-font-size);
}

.post .top-bar button {
    font-size: var(--small-font-size);
}

.post .top-bar .alias {
    color: var(--main-font-clr);
}

.post .top-bar button {
    margin-left: 0.5rem;
    font-weight: 700;
}

.post summary {
    font-size: 1.75rem;
    line-height: 0.5;
}

.post img {
    border-radius: 0;
}

.post .post-content p {
    margin: 1.25rem 1.25rem 0 1.25rem;
}

.post .bottom-bar {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 1.25rem .75rem 1rem;
}

.post .bottom-bar button {
    font-size: var(--small-font-size);
}

.post .likes {
    font-weight: 700;
    color: var(--secondary-font-clr);
}

.post .fold {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    width: 1.1rem;
    height: 1.1rem;
    pointer-events: none;
}

.post .fold::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1.05rem;
    height: 1.05rem;
    background-color: var(--input-unfocus);
    border-radius: 0 0 0 5px;
    transition: transform .2s;
    transform: translate(100%, -100%);
}

.post .fold::after {
    content: "";
    position: absolute;
    top: -.8rem;
    right: -.8rem;
    width: 1.6rem;
    height: 1.6rem;
    transform: rotate(45deg) translate(-.8rem, -.8rem);
    transition: transform .2s;
    background-color: var(--bg-clr);
}

.post:hover .fold::before {
    transform: translate(0, 0);
}

.post:hover .fold::after {
    transform: rotate(45deg);
}


/* ASIDE */
aside article {
    background-color: var(--aside-comp-clr);
}

aside article *:not(h2) {
    font-size: var(--small-font-size);
    line-height: 1.5;
}

aside h2 {
    font-size: var(--medium-font-size);
    padding: 1rem;
    border-bottom: 1px solid var(--line-clr);
}

aside ul {
    padding: .625rem 0;
}

aside li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem .8rem .5rem .625rem;
}

aside li:hover {
    background-color: var(--post-bg-clr);
}

aside .alias {
    font-weight: 700;
}

aside .likes {
    color: var(--secondary-font-clr);
    font-weight: 500;
}

aside a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

aside a>div {
    display: flex;
    align-items: center;
}

aside a>p {
    color: var(--highlight-clr);
}

aside img {
    width: 3rem;
    height: 3rem;
    margin-right: .5rem;
}

.requirements {
    font-size: var(--small-font-size);
}

#update-password-form .requirements {
    color: var(--secondary-font-clr);
}

/* FORM VALIDATION */
form .submitter {
    transition: opacity .4s;
}

form:invalid .submitter,
form .submitter.invalid {
    opacity: 0.4;
    pointer-events: none;
}

/* GRADIENT IMAGE BG */
.bg-gradient {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

.bg-gradient::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(38, 38, 38, 0.7) 0%, rgba(38, 38, 38, 0.1) 100%);
}

.bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
}

/* SIGN (in/up) FORM */
.sign-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 51px);
    flex-direction: column;
}

.sign-form-container h1,
.sign-form-container h2 {
    font-family: var(--logo-font-fam);
    font-size: var(--xl-font-size);
    margin-bottom: 3rem;
    font-weight: 700;
}

.sign-form {
    display: grid;
    grid-gap: .6rem;
    width: 380px;
}

.sign-form input {
    color: black;
    padding: .8rem .7rem;
    width: 100%;
    border-radius: .7rem;
}

.sign-form button {
    margin-top: 1.5rem;
    background-color: var(--highlight-clr);
    padding: .8rem;
    color: black;
    border-radius: var(--main-radius);
}

.modal .sign-form input {
    margin: 0 1.25rem;
    width: auto;
    background-color: var(--line-clr);
    color: var(--main-font-clr);
}

/* User profile */
.user-profile {
    margin-bottom: 4rem;
    border-radius: var(--main-radius);
    overflow: hidden;
    background-color: var(--post-bg-clr);
}

.user-profile img {
    height: 20rem;
    object-fit: cover;
    border-radius: 0;
}

.user-profile div {
    margin: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-profile button,
.user-profile a {
    font-size: var(--small-font-size)
}

/* User settings */
.settings-form {
    display: grid;
    gap: 1.2rem;
    margin-bottom: 5rem;
    max-width: 450px;
    margin-top: 1rem;
}

.settings-form input {
    background-color: var(--post-bg-clr);
    border-radius: var(--img-radius);
    padding: .8rem .7rem;
}

.settings-form #image {
    margin-bottom: 1.5rem;
    position: relative;
    width: 12rem;
    height: 12rem;
}

.settings-form #image img {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
}

[for="user-image"] {
    cursor: pointer;
    fill: var(--secondary-font-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.8rem;
    height: 1.8rem;
    display: block;
    background-color: var(--bg-clr);
    border-radius: 100px;
    position: absolute;
    z-index: 2;
    top: .5rem;
    right: .5rem;
}

[for="user-image"] svg {
    width: 1.8rem;
    height: 1.8rem;
    padding: .4rem;
}

.settings-form legend {
    font-size: 1.5rem;
    margin-bottom: .5rem;
    color: var(--main-font-clr);
}

.settings-form label {
    font-size: 1rem;
}

.settings-form .button-container button {
    background-color: var(--highlight-clr);
    color: var(--bg-clr);
    padding: .6rem 1rem;
    font-weight: 500;
    border-radius: var(--main-radius);
    margin-top: 1rem;
}

.delete-user-btn {
    background-color: var(--crazy-clr);
    color: black;
    font-weight: 500;
    padding: .6rem 1rem;
    border-radius: var(--main-radius);
}

/* Modals */
.modal.show {
    display: flex;
}

.modal {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--overlay-clr);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-hider {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal form {
    width: 540px;
    background-color: var(--post-bg-clr);
    display: grid;
    border-radius: var(--main-radius);
}

.modal>div:not(.modal-hider) {
    background-color: var(--post-bg-clr);
    display: grid;
    border-radius: var(--main-radius);
}

.modal .btn-container {
    display: flex;
    margin: 0 1rem 1.25rem 1rem;
}

.modal .btn-container * {
    margin: .5rem;
}

.modal textarea {
    background-color: transparent;
    border: 0;
    outline: 0;
    resize: none;
    font-size: 1.2rem;
    padding: 1.25rem;
}

.modal .button-container {
    border-top: 1px solid var(--line-clr);
    padding: 1.25rem;
    display: flex;
    justify-content: flex-end;
}

.modal h2 {
    padding: 1.25rem;
}

.modal h2:not(form h2) {
    text-align: center;
}

.modal .file-label {
    background-color: var(--line-clr);
    padding: 1.25rem;
    cursor: pointer;
    display: flex;
    justify-content: center;

}

.modal .file-label svg {
    width: 5rem;
    height: 5rem;
    fill: var(--secondary-font-clr);
}

.modal button {
    background-color: var(--highlight-clr);
    color: var(--bg-clr);
    padding: .5rem 1rem;
    border-radius: var(--main-radius);
    font-size: var(--small-font-size);
}

.modal .btn-container .danger {
    background-color: var(--crazy-clr);
    color: var(--bg-clr);
}

/* JS loaded images */
.load-image-container {
    position: relative;
}

.load-image-container button {
    position: absolute;
    top: .5rem;
    right: .5rem;
    padding: .4rem .5rem .5rem .5rem;
    line-height: .7;
    border-radius: 100px;
    font-size: 1.3rem;
    font-weight: 700;
    background-color: var(--bg-clr);
    color: var(--secondary-font-clr);
}

.post-modal .load-image-container button {
    background-color: var(--post-bg-clr);
}

.load-image-container+label.file-label {
    display: none;
}

.post-modal .load-image-container {
    max-height: calc(90vh - 270px);
    margin: auto;
}

.post-modal .load-image-container img {
    max-height: calc(90vh - 270px);
    display: block;
    object-fit: contain;
    border-radius: 0;
}

.settings-form .load-image-container {
    margin-bottom: 1.5rem;
}

.settings-form .load-image-container+#image {
    display: none;
}

.settings-form .load-image-container button {
    padding: 0;
    width: 28px;
    height: 28px;
    padding-bottom: 2px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.settings-form .load-image-container {
    width: 12rem;
}

.settings-form .load-image-container img {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
}

/* Error modal */
.error-modal div:not(.modal-hider) {
    font-size: 1.2rem;
    padding: 1rem;
}

.error-modal p {

    margin-bottom: 2rem;
}

.error-modal button {
    max-width: 100px;
    width: 100%;
    margin: auto;
    margin-bottom: 0.
}

/* FOOTER */
footer {
    margin-bottom: 1.25rem;
}

footer a {
    font-size: var(--small-font-size);
    font-weight: 500;
    margin: 0.625rem;
}

@media only screen and (max-width: 1000px) {
    #content {
        padding: 0 1rem;
    }
}

@media only screen and (max-width: 950px) {
    #content main+div {
        display: none;
    }

    #content main {
        margin-left: auto;
        margin-right: auto;
    }
}