@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

:root {
    --main-font-fam: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    --logo-font-fam: 'Bree Serif', serif;
    --main-font-clr: #ffffff;
    --secondary-font-clr: rgba(255,255,255, .65);
    --highlight-clr: #00B8FF;
    --attraction-clr: #00CF35;
    --crazy-clr: #7C5CFF;
    --main-font-size: 1rem;
    --small-font-size: .85rem;
    --medium-font-size: 1.125rem;
    --xl-font-size: 5rem;
    --bg-clr: #000000;
    --post-bg-clr: #222222;
    --aside-comp-clr: #111111;
    --overlay-clr: rgba(0, 0, 0, 0.4);
    --line-clr: rgba(255, 255, 255, .13);
    --input-unfocus: rgba(255,255,255, .25);
    --main-radius: .2rem;
    --img-radius: .4rem;
}

/* BASE AND RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--main-font-clr);
    font-family: var(--main-font-fam);
    font-size: var(--main-font-size);
    line-height: 1.2;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background-color: var(--bg-clr);
    min-height: 100vh;
}
main {
    height: 100%;
}
li {
    list-style: none;
}
a, button {
    text-decoration: none;
    color: var(--highlight-clr);
    background: transparent;
    border: 0;
    cursor: pointer;
    font-weight: 700;
}
h2 {
    font-weight: 700;
}
input {
    border: 0;
    outline: 0;
}
article {
    border-radius: var(--main-radius);
}
img {
    display: block;
    width: 100%;
    border-radius: var(--img-radius);
}
details > summary {
    list-style: none;
    cursor: pointer;
}
details > summary::-webkit-details-marker {
    display: none;
}
span {
    color: inherit;
}


/* HEADER */
#main-header:not(.sign-page #main-header) {
    border-bottom: 1px solid var(--line-clr);
    background-color: black;
}
#main-header {
    position: sticky;
    top: 0;
    z-index: 10;
}
#main-header nav {
    max-width: 1700px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 1.375rem;
    height: 51px;
}

#main-header ul {
    display: flex;
    align-items: center;
}
#logo {
    font-family: var(--logo-font-fam);
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.76rem;
    color: white;
    display: block;
    width: 3.5rem;
    transform: translateY(-3px);
}
#search-bar-container {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    width: 480px;
    background-color: var(--input-unfocus);
    border-radius: var(--main-radius);

}
#search-bar-container label {
    display: block;
    width: 1.1rem;
    height: 1.1rem;
    margin-left: .75rem;
}
#search-bar-container svg {
    fill: var(--secondary-font-clr);
}
#search-bar {
    padding: 0.475rem;
    background-color: transparent;
}
#main-header .icon {
    display: block;
    width: 2.875rem;
    height: 2rem;
    border-radius: var(--main-radius);
    display: flex;
    justify-content: center;
    align-items: center;
}
#main-header .icon svg {
    fill: var(--secondary-font-clr);
}
#main-header .home svg {
    width: 1.25rem;
    height: 1.25rem;
}
#main-header .user svg {
    width: 1rem;
    height: 1.2rem;
}
#main-header .pen {
    background-color: var(--highlight-clr);
    margin-left: 1.25rem;
}
#main-header .pen svg {
    fill: black;
    width: 1.375rem;
    height: 1.375rem;
}

a.sign-up, a.sign-in {
    font-weight: 700;
    font-size: 1rem;
    color: var(--bg-clr);
    border-radius: var(--main-radius);
    background-color: var(--highlight-clr);
    padding: .525rem .8rem;
    ;
}
a.sign-up {
    margin-left: .6rem;
}
a.sign-in {
    background-color: var(--attraction-clr);
}
.sign-page .sign-in,
.sign-page .sign-up {
    position: absolute;
    z-index: 20;
    top: .45rem;
    right: 1.375rem;
}

/* MAIN CONTENT */
#content {
    max-width: 975px;
    margin: auto;
    display: flex;
}
#content main {
    height: 100%;
    width: 640px;
    padding: 1.25rem .875rem 0 0;
}
#content > div {
    flex: 1;
    padding: 1.25rem 0 0 .875rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 52px;
    height: calc(100vh - 52px);
    border-left: 1px solid var(--line-clr);

}

/* POST */
.posts-container article:not(:nth-child(1)) {
    margin-top: 1.25rem;
}
.posts-container article {
    display: flex;
}
.posts-container article > img {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
    object-fit: cover;
    position: sticky;
    top: 65px;
}
.post {
    background-color: var(--post-bg-clr);
    border-radius: var(--main-radius);
    flex: 1;
}
.post .top-bar {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 1rem 1.25rem;
}
.post .top-bar > div {
    display: flex;
}
.post .top-bar > div * {
    font-size: var(--small-font-size);
}
.post .top-bar .alias {
    color: var(--main-font-clr);
}
.post .top-bar button {
    margin-left: 0.5rem;
    font-weight: 700;
}
.post summary {
    font-size: 1.75rem;
    line-height: 0.5;
}
.post img {
    border-radius: 0;
}
.post .post-content p{
    margin: 1.25rem 1.25rem 0 1.25rem;
}
.post .bottom-bar {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 1.25rem .75rem 1rem;
}
.post .likes {
    font-weight: 700;
    color: var(--secondary-font-clr);
}
.post .fold {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    width: 1.1rem;
    height: 1.1rem;
    pointer-events: none;
}
.post .fold::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1.05rem;
    height: 1.05rem;
    background-color: var(--input-unfocus);
    border-radius: 0 0 0 5px;
    transition: transform .25s;
    transform: translate(100%, -100%);
}
.post .fold::after {
    content: "";
    position: absolute;
    top: -.8rem;
    right: -.8rem;
    width: 1.6rem;
    height: 1.6rem;
    transform: rotate(45deg) translate(-.8rem, -.8rem);
    transition: transform .25s;
    background-color: var(--bg-clr);
}
.post:hover .fold::before {
    transform: translate(0,0);
}
.post:hover .fold::after {
    transform: rotate(45deg);
}


/* ASIDE */
aside article {
    background-color: var(--aside-comp-clr);
}
aside article *:not(h2){
    font-size: var(--small-font-size);
    line-height: 1.5;
}
aside h2 {
    font-size: var(--medium-font-size);
    padding: 1rem;
    border-bottom: 1px solid var(--line-clr);
}
aside ul {
    padding: .625rem 0;
}
aside li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem .8rem .5rem .625rem;
}
aside .alias {
    font-weight: 700;
}
aside .name {
    color: var(--secondary-font-clr);
    font-weight: 500;
}

/* GRADIENT IMAGE BG */
.bg-gradient {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
}
.bg-gradient::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(38,38,38,0.7) 0%, rgba(38,38,38,0.1) 100%);
}
.bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
}

/* SIGN (in/up) FORM */
.sign-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 51px);
    flex-direction: column;
}
.sign-form-container h1,
.sign-form-container h2 {
    font-family: var(--logo-font-fam);
    font-size: var(--xl-font-size);
    margin-bottom: 3rem;
    font-weight: 700;
}
.sign-form {
    display: grid;
    grid-gap: .6rem;
    width: 380px;
}
.sign-form input {
    color: black;
    padding: .8rem .7rem;
    width: 100%;
    border-radius: .7rem;
}
.sign-form button {
    margin-top: 1.5rem;
    background-color: var(--highlight-clr);
    padding: .8rem;
    color: black;
    border-radius: var(--main-radius);
}
.modal .sign-form input {
    margin: 0 1.25rem;
    width: auto;
    background-color: var(--line-clr);
    color: var(--main-font-clr);
}

/* Modals */
.modal.show {
    display: flex;
}
.modal {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--overlay-clr);
    display: none;
    justify-content: center;
    align-items: center;
}
.modal-hider {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.modal form {
    width: 540px;
    background-color: var(--post-bg-clr);
    display: grid;
    border-radius: var(--main-radius);
}
.modal textarea {
    background-color: transparent;
    border: 0;
    outline: 0;
    resize: none;
    font-size: 1.2rem;
    padding: 1.25rem;
}
.modal .button-container {
    border-top: 1px solid var(--line-clr);
    padding: 1.25rem;
    display: flex;
    justify-content: flex-end;

}
.modal h2 {
    padding: 1.25rem;
}
.modal .file-label {
    background-color: var(--line-clr);
    padding: 1.25rem;
    cursor: pointer;
    display: flex;
    justify-content: center;

}
.modal .file-label svg {
    width: 5rem;
    height: 5rem;
    fill: var(--secondary-font-clr);
}
.modal button {
    background-color: var(--highlight-clr);
    color: var(--bg-clr);
    padding: .5rem 1rem;
    border-radius: var(--main-radius);
    font-size: var(--small-font-size);
}

/* FOOTER */
footer {
    margin-bottom: 1.25rem;
}
footer a {
    font-size: var(--small-font-size);
    font-weight: 500;
    margin: 0.625rem;
}

